<div class="flex flex-col items-center my-8">
  <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>

  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      {% for product in section.settings.featured_collection.products
        limit: section.settings.number_of_products_to_show
      %}
        {% render 'product-card', product_product: product %}
      {% else %}
        {% comment %} if there is no product inside the collection, then we will render 4 product card placeholders. (1..4) excutes the loop from 1 to 4; meaning 4 times. {% endcomment %}
        {% for item in (1..4) %}
          {% render 'product-card-placeholder' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% comment %} This section is used to display a featured collection of products. It allows customization of the title, collection, and number of products to show. {% endcomment %}

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min": 4,
      "max": 12,
      "default": 4,
      "label": "Number of products to show"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}

{% comment %} not setting the default value of featured collection here, Rather it is being set in the json template; which is in settings:{ :"all"}. Presets allow to add the section in the home page {% endcomment %}
