<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
    {% for product in section.settings.featured_collection.products %}
        {% render 'product-card', product: product %}
    {% else %}
        {% for i in (1..10) %}
            {% render 'placeholder-product-card', product_key: i %}
        {% endfor %}
    {% endfor %}
</div>


{% schema %}
{
    "name": "Featured Collection",
    "tag": "section",
    "settings": [
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "Collection"
            }
        ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}