<div class="container mx-auto px-5">
    <h1 class="title">{{ page.title }}</h1>
    <div class="page-meta">
        <span>{{ page.author }}</span> <span>{{ page.published_at | date }}</span>
    </div>
    
    {{ page.content }}
</div>