<div class="flex flex-col gap-y-5">
    <div>
        <h1 class="font-medium {{ section.settings.title_size }}">{{ section.settings.title }}</h1>
    </div>

    <div class="bg-gray-100 rounded-md w-full mx-auto">
        {% if section.settings.shopify_video != null %}
            <div>
                {{ section.settings.shopify_video
                    | video_tag:
                    image_size: "1100x",
                    autoplay: true,
                    loop: section.settings.video_loop_enable,
                    controls: true,
                    muted: false,
                    class: 'w-full'
                }}
            </div>
        {% else %}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Video",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Video",
            "label": "Heading Title"
        },
        {
            "type": "select",
            "id": "title_size",
            "options": [
                {
                    "label": "Small",
                    "value": "text-small"
                },
                {
                    "label": "Medium",
                    "value": "text-medium"
                },
                {
                    "label": "Large",
                    "value": "text-large"
                }
            ],
            "label": "Heading Title Size",
            "default": "text-medium"
        },
        {
            "type": "checkbox",
            "id": "video_loop_enable",
            "default": true,
            "label": "Loop video?"
        },
        {
            "type": "header",
            "content": "Self-hosted Shopify Video"
        },
        {
            "type": "video",
            "id": "shopify_video",
            "label": "Video"
        }
    ],
    "presets": [
        {
            "name": "Video"
        }
    ]
}
{% endschema %}