<div class="text-gray-900 my-10">
    <div class="flex flex-row {% if section.settings.layout == "image-left" %} flex-row-reverse {% endif %} %} gap-y-5 justify-between">
        <div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:w-1/2">
            <h1 class="primary-text text-2xl font-bold">Quisquam necessita vel
                <span class="block w-full py-2 text-transparent bg-clip-text leading-12 bg-gradient-to-r from-green-400 to-purple-500 lg:inline">delectus</span> 
            </h1>
            <p class="primary-text px-8 mt-8 mb-12 text-lg">Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab amet vero eaque explicabo!</p>
            <div class="flex flex-wrap justify-center gap-4">
                <button class="button primary-button">Get started</button>
                <button class="button secondary-button">Learn more</button>
            </div>
        </div>
        
        {% if section.settings.hero_image %}
            <div class="w-1/2">
                <img src="{{ section.settings.hero_image | image_url }}" alt="">
            </div>
        {% endif %}
        </div>
    </div>
	
</div>

{% schema %}
{
    "name": "Image Banner with Text",
    "tag": "section",
    "settings": [
            {
                "type": "image_picker",
                "id": "hero_image",
                "label": "Image"
            },
            {
                "type": "select",
                "id": "layout",
                "label": "Layout",
                "options": [
                    {
                        "label": "Default",
                        "value": "default"
                    },
                    {
                        "label": "Image-left",
                        "value": "image-left"
                    },
                    {
                        "label": "Image-right",
                        "value": "image-right"
                    }
                ]
            }
        ],
    "presets": [
        {
            "name": "Image Banner with Text"
        }
    ]
}
{% endschema %}