<div class="my-10 w-100 md:w-1/2 mx-auto px-5">
    <h1 class="text-xl font-bold my-5">Customer Registration</h1>
    {% form 'create_customer', novalidate: 'novalidate', class: 'flex flex-col gap-y-5' %}
        {% if form.errors %}
            <div class="w-1/2 px-4 py-2 mx-auto bg-red-500 font-medium rounded">
                <span>{{ form.errors | default_errors }}</span>
            </div>
        {% endif %}

        <div class="flex flex-col gap-y-2 justify-start">
            <label for="customerFirstName">First name</label>
            <input 
                type="text" 
                name="customer[first_name]"
                id="customerFirstName"
                class="p-4 border-2 rounded-md"
            />
        </div>

        <div class="flex flex-col gap-y-2 justify-start">
            <label for="customerLastName">Last name</label>
            <input 
                type="text" 
                name="customer[last_name]"
                id="customerLastName"
                class="p-4 border-2 rounded-md"
            />
        </div>

        <div class="flex flex-col gap-y-2 justify-start">
            <label for="customerEmail">Email address</label>
            <input 
                type="email" 
                name="customer[email]"
                id="customerEmail"
                class="p-4 border-2 rounded-md"
            />
        </div>

        <div class="flex flex-col gap-y-2 justify-start">
            <label for="customerPassword">Password</label>
            <input 
                type="password" 
                name="customer[password]"
                id="customerPassword"
                class="p-4 border-2 rounded-md"
            />
        </div>

        <button type="submit" class="button primary-button">Sign up</button>

    {% endform %}
</div>