<div class="flex flex-col gap-y-10 my-10">
    <div class="flex flex-row justify-start gap-x-3">
        <select name="collection_filter" id="collection_filter">
            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

            {% for option in collection.sort_options %}
                <option 
                    value="{{ option.value }}"
                    {% if option.value == sort_by %}
                        selected="selected"
                    {% endif %}
                >
                    {{ option.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
        {% paginate collection.products by 10 %}
            {% for product in collection.products %}
                {% render 'product-card', product: product %}
            {% endfor %}
        {% endpaginate %}
    </div>
</div>

<script>
    Shopify.queryParams = {}

    if(location.search.length) {
        var params = location.search.substr(1).split('&');

        for (var i = 0; i < params.length; i++) {
            var keyValue = params[i].split('=');

            if (keyValue.length) {
                Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
            }
        }
    }

    // Update sort_by query parameter on select change
    document.querySelector('#collection_filter').addEventListener('change', function(e) {
        var value = e.target.value;

        Shopify.queryParams.sort_by = value;
        location.search = new URLSearchParams(Shopify.queryParams).toString();
    });
</script>

{% schema %}
{
    "name": "Collection Page",
    "settings": [
        {
            "type": "color_scheme",
            "id": "example",
            "label": "Color scheme",
            "default": "scheme-1"
        }
    ]
}
{% endschema %}