<div class="my-10 w-100 md:w-1/2 mx-auto px-5">
    <div id="login_form" class="flex flex-col gap-y-5">
        <h2 class="text-xl font-bold my-5">Customer Login</h2>
        {% form 'customer_login', novalidate: 'novalidate', class: 'flex flex-col gap-y-5' %}
            {% if form.errors %}
                <div class="w-1/2 px-4 py-2 mx-auto bg-red-500 font-medium rounded">
                    <span>{{ form.errors | default_errors }}</span>
                </div>
            {% endif %}

            <div class="flex flex-col gap-y-2 justify-start">
                <label for="customerEmail">Email address</label>
                <input 
                    type="email" 
                    name="customer[email]"
                    id="customerEmail"
                    class="p-4 border-2 rounded-md"
                    placeholder="Please enter your email address"
                />
            </div>

            {% if form.password_needed %}
                <div class="flex flex-col gap-y-2 justify-start">
                    <label for="customerPassword">Password</label>
                    <input 
                        type="password" 
                        name="customer[password]"
                        id="customerPassword"
                        class="p-4 border-2 rounded-md"
                        placeholder="Please enter your password"
                    />
                </div>
            {% endif %}

            <button type="submit" class="button primary-button">Login</button>
        {% endform %}
    </div>
    
    <div id="recover_password_form" class="hidden flex-col gap-y-5">
        <h2 class="text-xl font-bold my-5">Recover your account</h2>

        {% form 'recover_customer_password', class: 'flex flex-col gap-y-5' %}
            {% if form.errors %}
                <div class="w-1/2 px-4 py-2 mx-auto bg-red-500 font-medium rounded">
                    <span>{{ form.errors | default_errors }}</span>
                </div>
            {% endif %}
        
            <div class="flex flex-col gap-y-2 justify-start">
                <label for="recoverPasswordEmail">Email address</label>
                <input 
                    type="email" 
                    name="email"
                    id="recoverPasswordEmail"
                    class="p-4 border-2 rounded-md"
                    placeholder="Please enter your email address"
                />
            </div>
          
            <button type="submit" class="button primary-button">Recover password</button>
        {% endform %}
    </div>
    

    <div class="mx-auto my-10">
        <label for="recoverPasswordBtn" class="text-base text-gray-500 hover:underline">Recover password</label>
        <input type="checkbox" id="recoverPasswordBtn" class="hidden">
    </div>
</div>

<script>
document.getElementById("recoverPasswordBtn").addEventListener('change', function(event) {
    if(event.target.checked) {
        // Hide the login form
        document.querySelector("#login_form").classList.remove('flex')
        document.querySelector("#login_form").classList.add('hidden')

        // Display the recover password form
        document.querySelector("#recover_password_form").classList.add('flex')
        document.querySelector("#recover_password_form").classList.remove('hidden')

        // Change the label to `Back to login`
        document.querySelector('[for="recoverPasswordBtn"]').innerHTML = 'Back to login'
    } else {
        // Display the login form
        document.querySelector("#login_form").classList.remove('hidden')
        document.querySelector("#login_form").classList.add('flex')

        // Hide the recover password form
        document.querySelector("#recover_password_form").classList.add('hidden')
        document.querySelector("#recover_password_form").classList.remove('flex')

        // Change the label to `Recover password`
        document.querySelector('[for="recoverPasswordBtn"]').innerHTML = 'Recover password'
    }
})
</script>
