<footer>
  <div class="footer__copyright">
    &copy;
    {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
  </div>
</footer>

{% stylesheet %}
  footer a {
    text-decoration: none;
    text-align: center;
    color: var(--color-foreground);
  }
  footer .footer__copyright {
    display: flex;
    justify-content: center;
    gap: 4px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
